<div class="block-seo block1">
    <div class="container">
        <div class="block-seo__content">
            <div class="block-seo__left">
                <h2 class="title2">
                    Заголовок для СЕО текста
                </h2>
                <div data-showmore="items" class="block-seo__showmore">
                    <div data-showmore-content="2" class="block-seo__text">
                        <p>
                            <span>
                                Каждый человек сталкивается с жизненными трудностями. Иногда кажется, что стресс,
                                тревога
                                или усталость никогда не закончатся. Но выход есть. Обратиться к психологу — это не
                                слабость, а забота о себе.
                            </span>
                        </p>
                        <p>
                            Мы — команда дипломированных специалистов, готовых помочь вам справиться с любыми жизненными
                            вызовами. Наша цель — сделать качественную психотерапию доступной, анонимной и эффективной,
                            где бы вы ни находились, многие считают, что психолог нужен только при серьезных
                            расстройствах. Это миф. Наши специалисты работают с самыми разными запросами, помогая
                            клиентам
                        </p>
                        <p>
                            Каждый человек сталкивается с жизненными трудностями. Иногда кажется, что стресс, тревога
                            или усталость никогда не закончатся. Но выход есть. Обратиться к психологу — это не
                            слабость, а забота о себе.
                        </p>
                        <p>
                            Мы — команда дипломированных специалистов, готовых помочь вам справиться с любыми жизненными
                            вызовами. Наша цель — сделать качественную психотерапию доступной, анонимной и эффективной,
                            где бы вы ни находились, многие считают, что психолог нужен только при серьезных
                            расстройствах. Это миф. Наши специалисты работают с самыми разными запросами, помогая
                            клиентам
                        </p>
                    </div>
                    <button hidden data-showmore-button type="button" class="block-seo__more">
                        <span>Читать полностью</span>
                        <span>Скрыть</span>
                    </button>
                </div>
            </div>
            <div class="block-seo__right">
                <div class="block-seo__title">
                    Почему стоит обратиться к психологу?
                </div>
                <ul>
                    <li>
                        <div class="icon-check">
                            <svg aria-hidden="true" width="16" height="14">
                                <use xlink:href="img/sprite.svg#check1"></use>
                            </svg>
                        </div>
                        <p>
                            <span>Справиться со стрессом и тревогой:</span> Научитесь управлять эмоциями и находить
                            спокойствие в
                            повседневной жизни.
                        </p>
                    </li>
                    <li>
                        <div class="icon-check">
                            <svg aria-hidden="true" width="16" height="14">
                                <use xlink:href="img/sprite.svg#check1"></use>
                            </svg>
                        </div>
                        <p>
                            <span>Пережить кризис:</span> Развод, потеря близкого, увольнение или переезд — мы поможем
                            пройти этот
                            путь с
                            опорой и поддержкой.
                        </p>
                    </li>
                    <li>
                        <div class="icon-check">
                            <svg aria-hidden="true" width="16" height="14">
                                <use xlink:href="img/sprite.svg#check1"></use>
                            </svg>
                        </div>
                        <p>
                            <span>Улучшить отношения:</span> Научитесь понимать себя и близких, избавиться от конфликтов
                            и наладить
                            доверительный контакт.
                        </p>
                    </li>
                    <li>
                        <div class="icon-check">
                            <svg aria-hidden="true" width="16" height="14">
                                <use xlink:href="img/sprite.svg#check1"></use>
                            </svg>
                        </div>
                        <p>
                            <span>Повысить самооценку:</span> Избавьтесь от неуверенности, страхов и самокритики,
                            полюбите себя
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>