<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Статья</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <div class="block-intro block-intro-other block-intro-bg">
                <div class="container">
                    <div class="block-intro__content">
                        <div class="breadcrumbs">
                            <ul>
                                <li>
                                    <a href="#">
                                        Главная
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Блог
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Отношение
                                    </a>
                                </li>
                                <li><span>Как пережить развод</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-atricle">
                <div class="container">
                    <div class="block-atricle__content">
                        <div class="block-atricle__body">
                            <div class="block-atricle__top">
                                <div class="heading-complex">
                                    <div class="heading-complex__badge">
                                        Отношение
                                    </div>
                                    <h1 class="title1">
                                        Как пережить развод
                                    </h1>
                                    <p>
                                        Развод — это всегда потеря привычного будущего. Важно дать себе время, бережно
                                        прожить этот период и опереться на поддержку. В статье — практические
                                        рекомендации, которые помогут справиться с болью и начать двигаться дальше
                                    </p>
                                </div>
                                <img src="img/article/image4.webp" alt="" class="block-atricle__pic1">
                            </div>
                            <div class="block-atricle__bottom">
                                <div class="block-atricle-menu">
                                    <div class="block-atricle-menu__title">
                                        Содержание
                                    </div>
                                    <ol>
                                        <li>
                                            <a data-goto=".text1" data-goto-header href="./">
                                                <span>1.</span>
                                                Краткий ответ
                                            </a>
                                        </li>
                                        <li>
                                            <a data-goto=".text2" data-goto-header href="./">
                                                <span>2.</span>
                                                Что такое развод с точки зрения психологии
                                            </a>
                                        </li>
                                        <li>
                                            <a data-goto=".text3" data-goto-header href="./">
                                                <span>3.</span>
                                                Почему развод проживается так тяжело
                                            </a>
                                        </li>
                                        <li>
                                            <a href="./">
                                                <span>4.</span>
                                                Основные эмоциональные реакции
                                            </a>
                                        </li>
                                        <li>
                                            <a href="./">
                                                <span>5.</span>
                                                Что можно сделать самостоятельно
                                            </a>
                                        </li>
                                        <li>
                                            <a href="./">
                                                <span>6.</span>
                                                Когда стоит обратиться к специалисту
                                            </a>
                                        </li>
                                        <li>
                                            <a href="./">
                                                <span>7.</span>
                                                Как проходит консультация
                                            </a>
                                        </li>
                                        <li>
                                            <a href="./">
                                                <span>8.</span>
                                                Какого специалиста выбрать
                                            </a>
                                        </li>
                                        <li>
                                            <a href="./">
                                                <span>9.</span>
                                                Частые вопросы
                                            </a>
                                        </li>
                                    </ol>
                                </div>
                                <div class="block-atricle__descr">
                                    <div class="block-atricle__columns">
                                        <div data-watch="navigator" class="block-atricle__column text1">
                                            <h2 class="title2">
                                                1.  Краткий ответ
                                            </h2>
                                            <p>
                                                Пережить развод помогает бережное отношение к себе, поддержка близких и
                                                постепенное возвращение к привычной жизни. Если боль и тревога не
                                                уменьшаются в течение нескольких недель, стоит обратиться к психологу
                                            </p>
                                        </div>
                                        <div data-watch="navigator" class="block-atricle__column text2">
                                            <h2 class="title2">
                                                2.  Что такое развод с точки зрения психологии
                                            </h2>
                                            <p>
                                                Пережить развод помогает бережное отношение к себе, поддержка близких и
                                                постепенное возвращение к привычной жизни. Если боль и тревога не
                                                уменьшаются в течение нескольких недель, стоит обратиться к психологу
                                            </p>
                                        </div>
                                    </div>
                                    <blockquote>
                                        <svg aria-hidden="true" width="20" height="15">
                                            <use xlink:href="img/sprite.svg#quote"></use>
                                        </svg>
                                        <p>
                                            Важно помнить: чувства после развода нормальны и понятны. Им нужно время,
                                            чтобы утихнуть
                                        </p>
                                    </blockquote>
                                    <div class="block-atricle__columns">
                                        <div data-watch="navigator" class="block-atricle__column text3">
                                            <h2 class="title2">
                                                3.  Почему развод проживается так тяжело
                                            </h2>
                                            <ul>
                                                <li>
                                                    <p>
                                                        Утрата значимых отношений и поддержки
                                                    </p>
                                                </li>
                                                <li>
                                                    <p>
                                                        Изменение привычной роли и образа жизни
                                                    </p>
                                                </li>
                                                <li>
                                                    <p>
                                                        Неопределённость будущего
                                                    </p>
                                                </li>
                                                <li>
                                                    <p>
                                                        Чувство вины, обиды, злости или стыда
                                                    </p>
                                                </li>
                                                <li>
                                                    <p>
                                                        Снижение самооценки и уверенности в себе
                                                    </p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <blockquote class="blockquote-blue">
                                        <svg aria-hidden="true" width="20" height="15">
                                            <use xlink:href="img/sprite.svg#quote"></use>
                                        </svg>
                                        <p>
                                            Это естественные реакции. Они не говорят о вашей слабости
                                        </p>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                        <div class="block-sticky">
                            <div class="block-sticky__content">
                                <div class="block-sticky-bottom">
                                    <div class="heading-complex">
                                        <h2 class="title2">
                                            Нужна помощь специалиста?
                                        </h2>
                                        <p>
                                            Администратор поможет подобрать психолога под ваш запрос и организует запись
                                        </p>
                                    </div>
                                    <div class="prices">
                                        <div class="prices__price">
                                            5 000 ₽
                                        </div>
                                        <div class="prices__time">
                                            / 45 минут
                                        </div>
                                    </div>
                                    <div class="block-sticky-bottom__buttons">
                                        <a href="./" class="btn">
                                            <span>Подобрать психолога</span>
                                        </a>
                                        <a href="./" data-popup="#call" class="btn btn-border btn-small">
                                            <span>Связаться с администратором</span>
                                        </a>
                                    </div>
                                    <div class="socials">
                                        <div class="socials__title">
                                            Свяжитесь удобным способом:
                                        </div>
                                        <div class="socials__body">
                                            <a href="./">
                                                <img loading="lazy" src="img/icons/max.svg" alt="">
                                                <span>MAX</span>
                                            </a>
                                            <a href="./">
                                                <img loading="lazy" src="img/icons/tg2.svg" alt="">
                                                <span>Telegram</span>
                                            </a>
                                            <a href="./">
                                                <img loading="lazy" src="img/icons/whatsapp.svg" alt="">
                                                <span>Telegram</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="block-sticky-bottom__text">
                                        Консультации проходят онлайн и очно в Москве. Точный адрес сообщит администратор
                                        после записи
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/popups.njk' %}
    {% include 'blocks/scripts.njk' %}
</body>

</html>