<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Блог</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <div class="block-intro block-intro-other block-intro-blog">
                <div class="container">
                    <div class="block-intro__content">
                        <div class="breadcrumbs">
                            <ul>
                                <li>
                                    <a href="#">
                                        Главная
                                    </a>
                                </li>
                                <li><span>Блог</span></li>
                            </ul>
                        </div>
                        <div class="block-intro__top">
                            <div class="block-intro__titles">
                                <div class="heading-complex">
                                    <h2 class="title1">
                                        Статьи о психологии и психическом здоровье
                                    </h2>
                                    <p>
                                        Материалы о психологии, отношениях, психотерапии и психических состояниях.
                                        Помогаем разобраться в сложных вопросах и понять, когда стоит обратиться к
                                        специалисту
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <img src="img/image6.webp" alt="" class="block-intro__bg1 bg1-blog">
            </div>

            <div class="block-blog block1 block2">
                <div class="container">
                    <div class="block-blog__content">
                        <div class="filter">
                            <button data-filter="all" type="button" class="filter__title active">
                                Все статьи
                            </button>
                            <button data-filter="filter1" type="button" class="filter__title">
                                Отношения
                            </button>
                            <button data-filter="filter2" type="button" class="filter__title">
                                Самооценка
                            </button>
                            <button data-filter="filter3" type="button" class="filter__title">
                                Форматы консультаций
                            </button>
                            <button data-filter="filter4" type="button" class="filter__title">
                                Методы психотерапии
                            </button>
                            <button data-filter="filter5" type="button" class="filter__title">
                                Психические состояния
                            </button>
                        </div>
                        <div class="block-blog__body">
                            <div class="block-blog__cards">
                                <a data-filter="filter3" href="./" class="card-article filter-card">
                                    <div class="card-article__badge">
                                        Форматы консультаций
                                    </div>
                                    <img loading="lazy" src="img/article/image1.webp" alt="" class="card-article__pic1">
                                    <div class="card-article__item">
                                        <div class="card-article__title">
                                            Как проходит первая консультация психолога
                                        </div>
                                        <div class="link">
                                            <span>Читать</span>
                                            <svg aria-hidden="true" width="20" height="9">
                                                <use xlink:href="img/sprite.svg#arrow1"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </a>
                                <a data-filter="filter1" href="./" class="card-article filter-card">
                                    <div class="card-article__badge">
                                        Отношения
                                    </div>
                                    <img loading="lazy" src="img/article/image2.webp" alt="" class="card-article__pic1">
                                    <div class="card-article__item">
                                        <div class="card-article__title">
                                            Как пережить развод
                                        </div>
                                        <div class="link">
                                            <span>Читать</span>
                                            <svg aria-hidden="true" width="20" height="9">
                                                <use xlink:href="img/sprite.svg#arrow1"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </a>
                                <a data-filter="filter2" href="./" class="card-article filter-card">
                                    <div class="card-article__badge">
                                        Самооценка
                                    </div>
                                    <img loading="lazy" src="img/article/image3.webp" alt="" class="card-article__pic1">
                                    <div class="card-article__item">
                                        <div class="card-article__title">
                                            Как пережить измену
                                        </div>
                                        <div class="link">
                                            <span>Читать</span>
                                            <svg aria-hidden="true" width="20" height="9">
                                                <use xlink:href="img/sprite.svg#arrow1"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </a>
                                <a data-filter="filter3" href="./" class="card-article filter-card">
                                    <div class="card-article__badge">
                                        Самооценка
                                    </div>
                                    <img loading="lazy" src="img/article/image3.webp" alt="" class="card-article__pic1">
                                    <div class="card-article__item">
                                        <div class="card-article__title">
                                            Как пережить измену
                                        </div>
                                        <div class="link">
                                            <span>Читать</span>
                                            <svg aria-hidden="true" width="20" height="9">
                                                <use xlink:href="img/sprite.svg#arrow1"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </a>
                                <a data-filter="filter4" href="./" class="card-article filter-card">
                                    <div class="card-article__badge">
                                        Форматы консультаций
                                    </div>
                                    <img loading="lazy" src="img/article/image1.webp" alt="" class="card-article__pic1">
                                    <div class="card-article__item">
                                        <div class="card-article__title">
                                            Как проходит первая консультация психолога
                                        </div>
                                        <div class="link">
                                            <span>Читать</span>
                                            <svg aria-hidden="true" width="20" height="9">
                                                <use xlink:href="img/sprite.svg#arrow1"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </a>
                                <a data-filter="filter5" href="./" class="card-article filter-card">
                                    <div class="card-article__badge">
                                        Отношения
                                    </div>
                                    <img loading="lazy" src="img/article/image2.webp" alt="" class="card-article__pic1">
                                    <div class="card-article__item">
                                        <div class="card-article__title">
                                            Как пережить развод
                                        </div>
                                        <div class="link">
                                            <span>Читать</span>
                                            <svg aria-hidden="true" width="20" height="9">
                                                <use xlink:href="img/sprite.svg#arrow1"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </a>
                                <a data-filter="filter1" href="./" class="card-article filter-card">
                                    <div class="card-article__badge">
                                        Отношения
                                    </div>
                                    <img loading="lazy" src="img/article/image2.webp" alt="" class="card-article__pic1">
                                    <div class="card-article__item">
                                        <div class="card-article__title">
                                            Как пережить развод
                                        </div>
                                        <div class="link">
                                            <span>Читать</span>
                                            <svg aria-hidden="true" width="20" height="9">
                                                <use xlink:href="img/sprite.svg#arrow1"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </a>
                                <a data-filter="filter2" href="./" class="card-article filter-card">
                                    <div class="card-article__badge">
                                        Самооценка
                                    </div>
                                    <img loading="lazy" src="img/article/image3.webp" alt="" class="card-article__pic1">
                                    <div class="card-article__item">
                                        <div class="card-article__title">
                                            Как пережить измену
                                        </div>
                                        <div class="link">
                                            <span>Читать</span>
                                            <svg aria-hidden="true" width="20" height="9">
                                                <use xlink:href="img/sprite.svg#arrow1"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </a>
                                <a data-filter="filter3" href="./" class="card-article filter-card">
                                    <div class="card-article__badge">
                                        Форматы консультаций
                                    </div>
                                    <img loading="lazy" src="img/article/image1.webp" alt="" class="card-article__pic1">
                                    <div class="card-article__item">
                                        <div class="card-article__title">
                                            Как проходит первая консультация психолога
                                        </div>
                                        <div class="link">
                                            <span>Читать</span>
                                            <svg aria-hidden="true" width="20" height="9">
                                                <use xlink:href="img/sprite.svg#arrow1"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </a>
                                <a data-filter="filter3" href="./" class="card-article filter-card">
                                    <div class="card-article__badge">
                                        Форматы консультаций
                                    </div>
                                    <img loading="lazy" src="img/article/image1.webp" alt="" class="card-article__pic1">
                                    <div class="card-article__item">
                                        <div class="card-article__title">
                                            Как проходит первая консультация психолога
                                        </div>
                                        <div class="link">
                                            <span>Читать</span>
                                            <svg aria-hidden="true" width="20" height="9">
                                                <use xlink:href="img/sprite.svg#arrow1"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </a>
                                <a data-filter="filter1" href="./" class="card-article filter-card">
                                    <div class="card-article__badge">
                                        Отношения
                                    </div>
                                    <img loading="lazy" src="img/article/image2.webp" alt="" class="card-article__pic1">
                                    <div class="card-article__item">
                                        <div class="card-article__title">
                                            Как пережить развод
                                        </div>
                                        <div class="link">
                                            <span>Читать</span>
                                            <svg aria-hidden="true" width="20" height="9">
                                                <use xlink:href="img/sprite.svg#arrow1"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </a>
                                <a data-filter="filter2" href="./" class="card-article filter-card">
                                    <div class="card-article__badge">
                                        Самооценка
                                    </div>
                                    <img loading="lazy" src="img/article/image3.webp" alt="" class="card-article__pic1">
                                    <div class="card-article__item">
                                        <div class="card-article__title">
                                            Как пережить измену
                                        </div>
                                        <div class="link">
                                            <span>Читать</span>
                                            <svg aria-hidden="true" width="20" height="9">
                                                <use xlink:href="img/sprite.svg#arrow1"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <button type="button" class="btn btn-border">
                                <span>Показать еще</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-help2 block1">
                <div class="container">
                    <div class="block-help2__content">
                        <div class="block-help2__image">
                            <img loading="lazy" src="img/icons/face.svg" alt="">
                        </div>
                        <div class="block-help2__body">
                            <div class="heading-complex">
                                <h2 class="title2">
                                    Нужна помощь специалиста?
                                </h2>
                                <p>
                                    Если вам сложно самостоятельно разобраться в ситуации, администратор поможет
                                    подобрать психолога или организовать запись к психиатру
                                </p>
                            </div>
                            <div class="block-help2__buttons">
                                <a href="./" class="btn btn-small">
                                    <span>Подобрать специалиста</span>
                                </a>
                                <a href="./" data-popup="#call" class="btn btn-border btn-small">
                                    <span>Связаться с администратором</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% include 'blocks/seo.njk' %}

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/popups.njk' %}
    {% include 'blocks/scripts.njk' %}
</body>

</html>