<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Подбор специалиста</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <div class="block-intro block-intro-other">
                <div class="container">
                    <div class="block-intro__content">
                        <div class="breadcrumbs">
                            <ul>
                                <li>
                                    <a href="#">
                                        Главная
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Специалисты
                                    </a>
                                </li>
                                <li><span>Подбор специалиста</span></li>
                            </ul>
                        </div>
                        <div class="block-intro__top">
                            <div class="block-intro__titles">
                                <div class="heading-complex">
                                    <h2 class="title1">
                                        Подберём подходящего специалиста
                                    </h2>
                                    <p>
                                        Ответьте на несколько вопросов. Это займёт около минуты. Ответы конфиденциальны
                                        и используются только для подбора специалиста
                                    </p>
                                </div>
                                <a href="./" class="btn">
                                    <span>Начать подбор</span>
                                </a>
                            </div>
                        </div>
                        <div class="block-intro__text">
                            <img src="img/icons/lock-closed.svg" alt="">
                            <span>
                                Мы бережно относимся к вашим данным и не передаём их третьим лицам
                            </span>
                        </div>
                    </div>
                </div>
                <img src="img/image5.webp" alt="" class="block-intro__bg1 bg1-spec">
            </div>

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/scripts.njk' %}
</body>

</html>