body {
  color: var(--071b50);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  padding: 0px 0px 0px 0px !important;
  &.hide-scrollbar {
    margin: 0px 0px 0px 0px !important;
  }
  .lock & {
    overflow: hidden;
  }
  .popup-show & {
    overflow: hidden;
  }
  .menu-open & {
    overflow: hidden;
  }
}

body.noscroll {
  overflow: hidden;
}

input,
button,
textarea {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
}

fieldset,
fieldset legend {
  margin: 0;
  border: none;
  padding: 0;
}

button {
  cursor: pointer;
}

a {
  outline: none;
  color: currentcolor;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 143%;
  color: var(--ffffff);
  border-radius: 8px;
  background: linear-gradient(87.58deg, #0460e9 8.1%, #1970ff 99.47%);
  box-shadow: inset 0 -3px 0 0 #005ae4;
  transition: opacity 0.3s;
  padding: 10px 30px;
  width: fit-content;
  text-align: center;
  min-height: 50px;
  @media (any-hover: hover) {
    &:hover {
      opacity: 0.7;
    }
  }
}
