body {
  color: var(--071b50);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  padding: 0px 0px 0px 0px !important;
  &.hide-scrollbar {
    margin: 0px 0px 0px 0px !important;
  }
  .lock & {
    overflow: hidden;
  }
  .popup-show & {
    overflow: hidden;
  }
  .menu-open & {
    overflow: hidden;
  }
}

body.noscroll {
  overflow: hidden;
}

input,
button,
textarea {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
}

fieldset,
fieldset legend {
  margin: 0;
  border: none;
  padding: 0;
}

button {
  cursor: pointer;
}

a {
  outline: none;
  color: currentcolor;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  color: var(--ffffff);
  border-radius: 12px;
  background: linear-gradient(87.58deg, #0460e9 8.1%, #1970ff 99.47%);
  box-shadow: inset 0 -3px 0 0 #005ae4;
  transition:
    opacity 0.3s,
    background-color 0.3s,
    color 0.3s;
  padding: 10px 30px;
  width: fit-content;
  text-align: center;
  min-height: 70px;
  @media (max-width: 768px) {
    min-height: 60px;
  }
  @media (any-hover: hover) {
    &:hover {
      opacity: 0.7;
    }
  }
  &.btn-violet {
    border-radius: 8px;
    background: linear-gradient(87.57deg, #8066bf 4.06%, #8f6ce5 95.81%);
    box-shadow: inset 0 -3px 0 0 #7a60b7;
    min-height: 50px;
  }
  &.btn-border {
    background: transparent;
    color: var(--0460e9);
    box-shadow: none;
    border: 1px solid var(--0460e9);
    @media (any-hover: hover) {
      &:hover {
        color: var(--ffffff);
        background-color: var(--0460e9);
        opacity: 1;
      }
    }
  }
}

.heading-complex {
  display: flex;
  flex-direction: column;
  gap: 12px;
  @media (max-width: 768px) {
    gap: 8px;
  }
  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    @media (max-width: 768px) {
      font-size: 14px;
    }
  }
}

.heading-complex2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 39px;
  gap: 10px 20px;
  @media (max-width: 768px) {
    margin-bottom: 25px;
  }
}

.link {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  color: var(--0460e9);
  transition: opacity 0.3s;
  margin-bottom: 5px;
  @media (max-width: 768px) {
    font-size: 14px;
    gap: 5px;
    line-height: 115%;
  }
  &.link-right {
    justify-content: flex-end;
  }
  svg {
    fill: var(--0460e9);
    margin-top: 3px;
    @media (max-width: 768px) {
      width: 15px;
      height: auto;
      margin-top: 2px;
    }
  }
  @media (any-hover: hover) {
    &:hover {
      opacity: 0.7;
    }
  }
}

.title2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 125%;
  @media (max-width: 768px) {
    font-size: 24px;
  }
}

.block1 {
  margin-bottom: 60px;
  @media (max-width: 768px) {
    margin-bottom: 40px;
  }
}
.block2 {
  padding: 50px 0px 60px 0px;
  @media (max-width: 768px) {
    padding: 40px 0px;
  }
}
.block3 {
  margin-bottom: 50px;
  @media (max-width: 768px) {
    margin-bottom: 40px;
  }
}

[data-showmore-button] {
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  color: var(--0460e9);
  transition: color 0.3s;
  @media (max-width: 768px) {
    font-size: 14px;
  }
  @media (any-hover: hover) {
    &:hover {
      color: var(--071b50);
    }
  }
  ._showmore-active & {
    span {
      &:first-child {
        display: none;
      }
      &:last-child {
        display: flex;
      }
    }
  }
  span {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    @media (max-width: 768px) {
      gap: 6px;
    }
    &::after {
      content: "";
      margin-top: 3px;
      display: block;
      background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iOSIgdmlld0JveD0iMCAwIDIwIDkiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiAgPHBhdGggZD0iTTIwIDQuMzMwMDhMMTIuNSAtNC45MTE0MmUtMDVWOC42NjAyMUwyMCA0LjMzMDA4Wk0wIDQuMzMwMDhWNS4wODAwOEgxMy4yNVY0LjMzMDA4VjMuNTgwMDhIMFY0LjMzMDA4WiIgZmlsbD0iIzA0NjBFOSIgLz4KPC9zdmc+");
      background-repeat: no-repeat;
      width: 20px;
      height: 9px;
      background-size: 100% 100%;
      transition: transform 0.3s;
    }
    &:last-child {
      display: none;
    }
  }
}

.icon-check {
  width: 16px;
  flex: 0 0 16px;
  margin-top: 5px;
  @media (max-width: 768px) {
    width: 14px;
    flex: 0 0 14px;
    margin-top: 3px;
  }
  svg {
    fill: var(--0460e9);
    @media (max-width: 768px) {
      width: 14px;
      height: auto;
    }
  }
}
