.form {
    background: var(--f3f7fd);
    padding: 40px 60px 38px 60px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    @media (max-width: 768px) {
        padding: 20px;
        gap: 20px;
    }
    // .form__body

    &__body {
        display: flex;
        flex-direction: column;
        gap: 26px;
        @media (max-width: 768px) {
            gap: 16px;
        }
    }

    // .form__inputs

    &__inputs {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
        @media (max-width: 768px) {
            gap: 8px;
        }
        @media (max-width: 550px) {
            flex-direction: column;
        }
    }

    // .form__input

    &__input {
        flex: 1 1 calc(50% - 6px);
        display: flex;
        flex-direction: column;
        gap: 9px;
        @media (max-width: 768px) {
            gap: 5px;
        }
        .input {
            border-radius: 8px;
            background: var(--ffffff);
            height: 50px;
            width: 100%;
            padding: 0px 25px;
            font-weight: 400;
            font-size: 13px;
            line-height: 169%;
            border: 1px solid transparent;
            transition: border 0.3s;
            @media (max-width: 768px) {
                padding: 0px 15px;
            }
            @media (max-width: 550px) {
                height: 45px;
                font-size: 11px;
            }
            &::placeholder {
                color: rgba(7, 27, 80, 0.5);
            }
            &.textarea {
                padding: 14px 25px;
                resize: none;
                height: 110px;
                @media (max-width: 768px) {
                    padding: 10px 15px;
                }
            }
            &._form-focus {
                border: 1px solid var(--0460e9);
            }
            &._form-error {
                border: 1px solid #dd4b4b;
            }
        }
    }

    // .form__label

    &__label {
        font-weight: 500;
        font-size: 14px;
        line-height: 143%;
        @media (max-width: 768px) {
            font-size: 12px;
        }
    }

    // .form__text

    &__text {
        font-weight: 400;
        font-size: 13px;
        line-height: 169%;
        text-align: center;
        opacity: 0.5;
        @media (max-width: 768px) {
            gap: 12px;
        }
    }

    // .form__bottom

    &__bottom {
        display: flex;
        flex-direction: column;
        gap: 20px;
        @media (max-width: 768px) {
            gap: 10px;
        }
        .btn {
            width: 100%;
        }
    }
}

.options {
    display: grid;
    width: 100%;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    @media (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
    }
    // .options__item

    &__item {
    }

    // .options__input

    &__input {
        position: absolute;
        width: 0;
        height: 0;
        opacity: 0;
        &:checked + .options__label {
            border: 2px solid var(--0460e9);
        }
    }

    // .options__label

    &__label {
        padding: 11.5px 16px 11.5px 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 100%;
        cursor: pointer;
        border: 2px solid transparent;
        border-radius: 8px;
        background-color: var(--ffffff);
        transition: border 0.3s;
        @media (max-width: 768px) {
            padding: 8px 10px;
        }
        @media (max-width: 550px) {
            gap: 5px;
        }
    }

    // .options__icon

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 0 0 20px;
        width: 20px;
        @media (max-width: 550px) {
            flex: 0 0 16px;
            width: 16px;
        }
        img {
            width: 100%;
            height: auto;
        }
    }

    // .options__text

    &__text {
        font-weight: 500;
        font-size: 13px;
        line-height: 169%;
        @media (max-width: 550px) {
            font-size: 11px;
        }
    }
}

.checkbox {
    position: relative;
    // .checkbox__input

    &__input {
        position: absolute;
        width: 0;
        height: 0;
        opacity: 0;
        &:checked + .checkbox__label .checkbox__icon svg {
            opacity: 1;
        }
        &:checked + .checkbox__label {
            border: 1px solid rgba(4, 96, 233, 0.2);
            background-color: var(--f3f7fd);
        }
        &:checked + .checkbox__label .checkbox__icon {
            background-color: var(--0460e9);
        }
    }

    // .checkbox__label

    &__label {
        padding: 30px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        gap: 22px;
        height: 100%;
        background-color: var(--ffffff);
        border: 1px solid rgba(7, 27, 80, 0.1);
        border-radius: 10px;
        transition:
            border 0.3s,
            background-color 0.3s;
        @media (max-width: 992px) {
            padding: 15px;
        }
        @media (max-width: 768px) {
            gap: 15px;
        }
    }

    // .checkbox__top

    &__top {
        display: flex;
        align-items: start;
        justify-content: space-between;
        gap: 10px;
    }

    // .checkbox__image

    &__image {
        width: 50px;
        height: 50px;
        @media (max-width: 768px) {
            width: 40px;
            height: 40px;
        }
        img {
            width: 100%;
            height: auto;
        }
    }

    // .checkbox__icon

    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 22px;
        height: 22px;
        flex: 0 0 22px;
        border-radius: 5px;
        background-color: #e9f2fe;
        transition: background-color 0.3s;
        @media (max-width: 768px) {
            width: 16px;
            height: 16px;
            flex: 0 0 16px;
        }
        svg {
            fill: var(--ffffff);
            opacity: 0;
            transition: opacity 0.3s;
            @media (max-width: 768px) {
                width: 12px;
                height: auto;
            }
        }
    }

    // .checkbox__item

    &__item {
        max-width: 210px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 9px;
        @media (max-width: 768px) {
            gap: 5px;
        }
        .checkbox__text {
            font-weight: 700;
            font-size: 18px;
            line-height: 133%;
            @media (max-width: 768px) {
                font-size: 16px;
            }
        }
    }

    // .checkbox__subtext

    &__subtext {
        font-weight: 400;
        font-size: 14px;
        line-height: 143%;
        color: rgba(7, 27, 80, 0.7);
        @media (max-width: 768px) {
            font-size: 12px;
        }
    }

    // .checkbox__text

    &__text {
        max-width: 210px;
        width: 100%;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        @media (max-width: 768px) {
            font-size: 14px;
        }
    }
}
.checkbox-form {
    flex: 0 0 240px;
    position: relative;
    @media (max-width: 768px) {
        flex: 0 1 auto;
    }
    // .checkbox-form__input

    &__input {
        position: absolute;
        width: 0;
        height: 0;
        opacity: 0;
        &:checked + .checkbox-form__label .checkbox-form__icon svg {
            opacity: 1;
        }
        &:checked + .checkbox-form__label .checkbox-form__icon {
            border: 1px solid var(--0460e9);
        }
    }

    // .checkbox-form__label

    &__label {
        display: flex;
        align-items: start;
        gap: 15px;
    }

    // .checkbox-form__icon

    &__icon {
        background-color: var(--ffffff);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 22px;
        height: 22px;
        flex: 0 0 22px;
        border-radius: 5px;
        border: 1px solid rgba(7, 27, 80, 0.1);
        transition:
            background-color 0.3s,
            border 0.3s;
        svg {
            fill: var(--0460e9);
            opacity: 0;
            transition: opacity 0.3s;
        }
    }

    // .checkbox-form__text

    &__text {
        margin-top: 2px;
        font-weight: 400;
        font-size: 14px;
        line-height: 157%;
        a {
            font-weight: 500;
            color: var(--0460e9);
            transition: opacity 0.3s;
            @media (any-hover: hover) {
                &:hover {
                    opacity: 0.7;
                }
            }
        }
    }
}

.select {
    min-width: 0;
    position: relative;
    z-index: 15 !important;
    width: 100%;
    &._select-open {
        z-index: 25 !important;
        .select__title {
            border-radius: 8px 8px 0px 0px;
        }
    }
    // .select__body
    &__body {
        position: relative;
    }
    // .select__title
    &__title {
        width: 100%;
        color: inherit;
        text-align: left;
        cursor: pointer;
        position: relative;
        font-weight: 500;
        font-size: 14px;
        line-height: 143%;
        display: flex;
        align-items: center;
        padding: 0px 25px 0px 30px;
        height: 50px;
        gap: 10px;
        border-radius: 8px;
        background: var(--ffffff);
        box-shadow: 0 5px 60px 0 rgba(2, 14, 30, 0.08);
        ._select-open & {
            .select__arrow {
                &::after {
                    content: "";
                    transform: rotate(-180deg);
                }
            }
        }
    }
    // .select__arrow
    &__arrow {
        z-index: 13;
        width: 12px;
        height: 12px;
        flex: 0 0 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-top: 2px;
        @media (max-width: 550px) {
            margin-top: 1px;
        }
        &::after {
            content: "";
            display: block;
            background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iNyIgdmlld0JveD0iMCAwIDEyIDciIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiAgPHBhdGggZD0iTTEuNzE0MjkgMEw2IDQuMTI1TDEwLjI4NTcgMEwxMiAwLjgyNUw2IDYuNkwwIDAuODI1TDEuNzE0MjkgMFoiIGZpbGw9IiMwNzFCNTAiIC8+Cjwvc3ZnPg==");
            background-repeat: no-repeat;
            width: 12px;
            height: 7px;
            background-size: 100% 100%;
            transition: transform 0.3s;
        }
    }
    // .select__value
    &__value {
        display: flex;
        text-align: left;
        min-width: 0;
        overflow: hidden;
        align-items: center;
        flex: 1 1 auto;
        justify-content: flex-start;
        gap: 6px;
    }

    // .select__row
    &__row {
        display: flex;
        align-items: center;
    }
    // .select__content
    &__content {
        flex: 1 1 auto;
        text-overflow: ellipsis;
        display: flex;
        align-items: center;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    // .select__text
    &__text {
        flex: 1 1 auto;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    // .select__options
    &__options {
        position: absolute;
        top: 100%;
        width: 100%;
        left: 0px;
        background: #ffffff;
        padding: 10px;
        border-radius: 0px 0px 8px 8px;
        box-shadow: 0px 5px 10px 0 rgba(2, 14, 30, 0.08);
        max-height: 115px;
        padding: 10px 25px 10px 30px;
        overflow: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
        }
    }
    // .select__scroll
    &__scroll {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    // .select__option
    &__option {
        width: 100%;
        text-align: left;
        cursor: pointer;
        color: inherit;
        font-weight: 500;
        font-size: 14px;
        line-height: 143%;
        transition: opacity 0.3s;
        &:hover {
            opacity: 0.7;
        }
    }
}
