.popup {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 20px;
    transition: visibility 0.8s ease 0s;
    visibility: hidden;
    pointer-events: none;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
    @media (max-width: 390px) {
        padding: 20px 10px;
    }
}
.popup_show {
    z-index: 150;
    visibility: visible;
    overflow: auto;
    pointer-events: auto;
}
.popup_show .popup__content {
    visibility: visible;
    transform: scale(1);
}
.popup__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    flex: 1 1 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup__content {
    position: relative;
    visibility: hidden;
    transform: scale(0);
    transition: transform 0.3s ease 0s;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    background: var(--ffffff);
    box-shadow: 0 5px 60px 0 rgba(2, 14, 30, 0.08);
    max-width: 694px;
    .lock & {
        visibility: visible;
    }
}

.popup__close {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: linear-gradient(87.4deg, #0460e9 2.4%, #1970ff 95.39%);
    box-shadow: inset 0 -3px 0 0 #005ae4;
    svg {
        fill: var(--ffffff);
    }
    @media (max-width: 768px) {
        top: 10px;
        right: 10px;
    }
}

.popup-forms {
    // .popup-forms__body

    &__body {
    }

    // .popup-forms__top

    &__top {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 50px 60px 34px 60px;
        @media (max-width: 768px) {
            gap: 10px;
            padding: 30px 20px 20px 20px;
        }
        .title2 {
            text-align: center;
        }
        p {
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            text-align: center;
            @media (max-width: 768px) {
                font-size: 14px;
            }
        }
    }
}
