:root {
  --container-width: 1630px;
  --container-padding: 15px;
  --0460e9: #0460e9;
  --ffffff: #fff;
  --071b50: #071b50;
  --e9f2fe: #e9f2fe;
  --eef8f1: #eef8f1;
  --f5f4fb: #f5f4fb;
  --2e7f59: #2e7f59;
  --8066bf: #8066bf;
  --f3f7fd: #f3f7fd;

  --font-family: "GothamPro", sans-serif;
}
